@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fascinate Inline', cursive;
    text-align: center;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    width: 100vw;
    height: 100vh;
    background: url("img/cover.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    background: #f2f2f2;
    height: 100%;
    max-height: calc(100%-188px);
    overflow: scroll;
}

nav {
    display: flex;
    height: 100px;
    border-bottom: 2px solid cadetblue;
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

li {
    margin: 0 20px;
    color: antiquewhite;
    text-transform: uppercase;
}

li:hover {
    border-bottom: 2px solid cadetblue;
    padding: 5px;
    cursor: pointer;
}

.menu-item {
    max-width: 600px;
    margin-bottom: 40px;
    margin-left: calc(50vw - 300px);
}

footer {
    height: 100px;
    border-top: 2px solid cadetblue;
    display: flex;
}

footer p {
    margin: auto;
}

h1 {
    position: relative;
    font-size: 70px;
    text-align: center;
    color: cadetblue;
}
p {
    color: cadetblue;
    margin: 10px;
    font-size: 20px;
}

h2 {
    margin: 10px;
    font-size: 35px;
}

hr {
    width: 150px;
    border: 2px solid grey;
    margin: 24px auto;
  }

  button {
    margin-top: 30px;
  }